@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #3d5a80;
  --secondary-color: #98c1d9;
  --terciary-color: #e0fbfc;
  --button-color: #ee6c4d;
  --dark-color: #293241;
}
body {
  font-family: "Poppins", sans-serif;
}

.row {
  margin: 0;
}

.navbar {
  background-color: var(--primary-color);
}

.navbar-brand {
  margin-right: 50px;
}

.nav-item {
  margin-right: 50px;
}

.main-banner {
  background-color: var(--dark-color);
}

.main-phrase {
  color: white;
  padding: 50px;
  text-align: left;
}
.secondary-phrase {
  color: lightgray;
}
.btn-primary {
  background-color: var(--button-color);
  border: none;
}
.btn-secondary {
  background-color: var(--dark-color);
  color: white;
  border: none;
}
.featured {
  background-color: var(--secondary-color);
}

.featured > * img {
  border: 5px white solid;
}
.featured-specs {
  list-style: none;
}

.featured-title {
  font-size: 2rem;
}

.second {
  background-color: var(--terciary-color);
}

.third {
  background-color: var(--button-color);
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #2ecc71;
}

.registration {
  background-color: var(--dark-color);
  color: white;
}

.reg-form {
  background-color: var(--secondary-color);
  padding: 20px;
  color: black;
}

.form-signin > input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.login-img {
  max-width: 400px;
  border: 5px white solid;
}
