<%- include ("./templates/_header") %> 
<form action="/lists/add" method = "POST">
  <div class="container">

    <div class="row justify-content-left">
      <div class="col-4">
        <div class="form-group">
          <label for="name">Nombre</label>
          <input type="text" class="form-control" id="name" name= "name"placeholder="Nombre">
        </div>
      </div>
    </div>

    <div class="row justify-content-left">
      <div class="col-7">
        <div class="form-group">
          <label for="description">Descripcion</label>
          <textarea class="form-control" id="description" name = "description" rows="2"></textarea>
        </div>
      </div>
    </div>

    <div class="row justify-content-left">
      <div class="col-5">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Crear lista</button>
      </div>
    </div>
  </div>
</form>


<%- include ("./templates/_footer") %> 