<%- include ("./templates/_header") %> 

<section class="main-banner py-5">
    <div class="row px-2 align-items-center">
        <div class="col-lg-4">
            <div class="main-phrase">
                <h1 class="">Construye tu setup de escritorio soñado</h1>
                <p class="secondary-phrase">En este nuevo mundo virtual, nuestro escritorio se convirtió en el principal lugar de trabajo y ocio. Con nuestras guías, haz de este lugar uno cómodo, productivo y agradable a la vista.</p>
                <button class="btn btn-primary mt-2">Checa las guías</button>
            </div>
        </div>
        
        <div class="col-lg-4">
            <div class="row">
                <div class="col">
                    <div class="featured shadow rounded">
                        <div class="container-fluid">
                            <img src="https://i.pinimg.com/originals/46/05/32/4605320c6f8b3f5f83bcb7f6aa8b1c2e.jpg"
                                alt="setup" class="img-fluid mt-2 rounded">
                            <h3 class="mt-3">Setup Productivo</h3>
                            <ul class="list-unstyled ">
                                <li>Teclado mecánico</li>
                                <li>Monitor ancho de alta resolución</li>
                                <li>Mouse gamer</li>
                                <li>Escritorio de madera</li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="row">
                <div class="col">
                    <div class="featured shadow rounded">
                        <div class="container-fluid">
                            <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2021/03/setup-gaming-2267149.jpg?itok=cROLsKPH"
                                alt="setup" class="img-fluid mt-2 rounded">
                            <h3 class="mt-3">Setup Gamer</h3>
                            <ul class="list-unstyled ">
                                <li>Teclado mecánico</li>
                                <li>Monitor ancho de alta resolución</li>
                                <li>Mouse gamer</li>
                                <li>Escritorio de madera</li>
                            </ul>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> 
</section>

<section class="second py-5">
    <div class="text-center mb-5">
        <h1 class="display-4">¿Necesitas ideas?</h1>
        <h4>Mira cientos de setups de nuestros usuarios.</h4>
    </div>
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1614624532983-4ce03382d63d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1789&q=80"
                class="w-100 shadow-1-strong rounded mb-4" alt="" />
    
            <img src="https://images.unsplash.com/photo-1616868560403-b4675d3a545b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=564&q=80" class="w-100 shadow-1-strong rounded mb-4"
                alt="" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1579882392185-581038fbc8c5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" class="w-100 shadow-1-strong rounded mb-4"
                alt="" />
    
            <img src="https://images.unsplash.com/photo-1594636797501-ef436e157819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1500&q=80"
                class="w-100 shadow-1-strong rounded mb-4" alt="" />
        </div>
    
        <div class="col-lg-4 mb-4 mb-lg-0">
            <img src="https://images.unsplash.com/photo-1598978483528-fd57466ab0ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80"
                class="w-100 shadow-1-strong rounded mb-4" alt="" />
    
            <img src="https://images.unsplash.com/photo-1616440537338-1d04df3987f7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" class="w-100 shadow-1-strong rounded mb-4"
                alt="" />
        </div>
    </div>
    <!-- Gallery -->    
</section>

<section class="third py-5 text-center">
    <h2 class="mx-5">Checa los productos más populares para tu setup</h2>
    <button class="btn btn-secondary mx-5 my-3">Ver</button>
</section>

<%- include ("./templates/_footer") %> 