<%- include ("./templates/_header") %> 

<section class="main-banner py-5">
    <div class="row">
        <div class="col-lg-4">
            <div class="main-phrase">
                <h1 class="display4">Construye tu setup de escritorio soñado</h1>
                <p class="secondary-phrase">En este nuevo mundo virtual, nuestro escritorio se convirtió en el principal lugar de trabajo y ocio. Con nuestras guías, haz de este lugar uno cómodo, productivo y agradable a la vista.</p>
                <button class="btn btn-primary mt-2">Checa las guías</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="featured">
                <div class="container-fluid">
                    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2021/03/setup-gaming-2267149.jpg?itok=cROLsKPH" alt="setup" class="img-fluid mt-2">
                    <h3 class="mt-1">Gamer setup</h3>
                    <ul class="list-unstyled">
                        <li>Alienware 570 keyboard</li>
                        <li>LG ultrawide 30"</li>
                        <li>Razer X Mouse</li>
                        <li>Wooden Desk</li>
                    </ul>
                    <h3>$5750</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="featured">
                <div class="container-fluid">
                    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2021/03/setup-gaming-2267149.jpg?itok=cROLsKPH" alt="setup" class="img-fluid mt-2">
                    <h3 class="mt-1">Gamer setup</h3>
                    <ul class="list-unstyled">
                        <li>Alienware 570 keyboard</li>
                        <li>LG ultrawide 30"</li>
                        <li>Razer X Mouse</li>
                        <li>Wooden Desk</li>
                    </ul>
                    <h3>$5750</h3>
                </div>
            </div>
        </div>
        
    </div>
</section>

<%- include ("./templates/_footer") %> 