<%- include ("./templates/_header") %> 

<section class="main-banner">
    <div class="row">
        <div class="col">
            <div class="main-phrase">
                <h1 class="display4">Construye tu setup de escritorio soñado</h1>
                <button class="btn btn-primary mt-2">Checa las guías</button>
            </div>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</section>

<%- include ("./templates/_footer") %> 